<main>
    <div class="vBannerbereich">
      <video loop muted autoplay oncanplay="this.play()" >
        <source src="chnglmngl.mp4" type="video/mp4">
      </video>
    </div>
  
    <div class="Banner">
      <video loop muted autoplay oncanplay="this.play()" >
        <source src="Video.mp4" type="video/mp4">
      </video>
    </div>
  
    <div class="Leiste">
      <span>07/12/2018</span>
      <span>|</span>
      <span>Fighting Game</span>
      <span>|</span>
      <span>BANDAI NAMCO Studios Inc. - Nintendo</span>
    </div>
  
    <div id="info-section" class="section">
      <div class="section-text">
        <h2>Super Smash Bros. Ultimate – Jetzt kannst du deine Lieblings-Charaktere ganz einfach ranken!</h2>
        <p>
          Super Smash Bros. Ultimate vereint Kämpfer aus verschiedensten Videospielwelten in einem actiongeladenen Prügelspiel für die Nintendo Switch.
          Mit über 70 spielbaren Charakteren, darunter alle Kämpfer vergangener Teile sowie Neuzugänge wie die Inklinge (Splatoon) und Ridley (Metroid),
          bietet das Spiel die ultimative Auswahl.
        </p>
        <p>
            Ob aufgrund von Kampfstil, Aussehen oder einfach reiner Nostalgie – jede Stimme zählt.
            Wähle den Kämpfer, der für dich ganz oben steht, und hilf mit, ein spannendes Ranking zu erstellen.
            Wird dein Favorit es an die Spitze schaffen?
        </p>
      </div>
      <div class="section-image">
        <iframe src="https://www.youtube.com/embed/WShCN-AYHqA" title="Trailer" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  
    <div class="section">
      <div class="section-image">
        <img src="/helden.gif" alt="Helden" class="img-fluid">
      </div>
      <div class="section-text">
        <h2>Helden für alle Generationen</h2>
        <p>
          Tauche ein in das ultimative Crossover-Event, bei dem über 80 ikonische Kämpfer aus der Welt der Videospiele aufeinandertreffen.
          Von zeitlosen Klassikern wie Mario, Link und Samus bis hin zu modernen Legenden – jeder Charakter erstrahlt in beeindruckend
          detailreichen 3D-Modellen, die seinen einzigartigen Charme und seine Geschichte widerspiegeln.
        </p>
      </div>
    </div>
  
    <div class="section">
      <div class="section-text">
        <h2>Energiegeladene Begegnungen</h2>
        <p>
          Erlebe packende Kämpfe auf dynamischen Arenen, die mit interaktiven Elementen und spektakulären Effekten begeistern.
          Explosive Angriffe und blitzschnelle Manöver sorgen in jedem Match für Nervenkitzel – sei es im fesselnden Mehrspielermodus
          oder in spannenden Einzelspieler-Abenteuern.
        </p>
      </div>
      <div class="section-image">
        <img src="/energy.gif" alt="Energy" class="img-fluid">
      </div>
    </div>
  
    <div class="section">
      <div class="section-image">
        <img src="/fain.gif" alt="Fighter GIF" class="img-fluid">
      </div>
      <div class="section-text">
        <h2>Neues Kapitel, neue Allianzen</h2>
        <p>
          In diesem neuen Abschnitt der Smash-Serie treffen alte Rivalitäten auf unerwartete Allianzen.
          Epische Zwischensequenzen enthüllen die Geschichten hinter den Kämpfern und lassen Grenzen zwischen
          Freund und Feind verschwimmen. Ein narratives Erlebnis, das genauso viel Wert auf packende Action
          wie auf emotionale Tiefe legt.
        </p>
      </div>
    </div>
  
    <div class="section">
      <div class="section-text">
        <h2>Innovatives Gameplay</h2>
        <p>
          Super Smash Bros. bietet ein einzigartiges Kampfsystem, das taktische Finesse mit rasanten
          Action-Momenten vereint. Mit speziellen Moves, beeindruckenden Combos und dynamischen Arenen
          eröffnen sich unzählige Strategien – perfekt abgestimmt auf die Bedürfnisse von Neulingen und
          erfahrenen Spielern.
        </p>
      </div>
      <div class="section-image">
        <img src="/figh.gif" alt="Gameplay GIF" class="img-fluid">
      </div>
    </div>
  
    <div class="section">
      <div class="section-image">
        <img src="/tr.gif" alt="Customization" class="img-fluid">
      </div>
      <div class="section-text">
        <h2>Deine Welt, deine Regeln</h2>
        <p>
          Gestalte dein individuelles Spielerlebnis im brandneuen „Adventure Clash“-Modus.
          Erstelle deinen eigenen Helden, passe Avatare, HUD-Elemente und Musik an und bringe
          deine persönliche Note in jeden Kampf ein. Mit einer Vielzahl an Anpassungsoptionen
          wird jeder Schlachtkampf zu einem einzigartigen Meisterwerk.
        </p>
      </div>
    </div>
  
  </main>
  
